.center {
   position: absolute;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -0%)
}

.clock1 {
	zoom: 0.5;
	-moz-transform: scale(0.5);
	display: block;
  margin-left: auto;
  margin-right: auto;
  left: -17%;
  margin-right: -50%;
}

.clock2 {
	zoom: 0.5;
	-moz-transform: scale(0.5);
	display: block;
  /*margin-left: auto;
  margin-right: auto;
  left: -17%;
  margin-right: -50%;*/
  padding-left: 32em;
}

.sider-slider-left a i{
  display: none;
}

.sider-slider-right a i{
  display: none;
}

.ayuda-pesta{
  color: white;
  text-decoration: none;
}

.ayuda-pesta:hover h3{
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.ayuda-pesta:hover a{
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.titulo-pesta {
  display: none;
}


@media screen and (max-width: 800px) {
    body {
        background-color: white;
    }

    .sider-slider-left a{
      float: left;
      height: 140%;
      width: 2%;
      background-color: grey;
      display: inline-block;
      position: absolute;
      margin-top: -10%;
      z-index: 1000;
      opacity: 0.2;
      filter: alpha(opacity=20); /* For IE8 and earlier */
      text-decoration: none;
    }


    .sider-slider-right a{
      float: right;
      height: 140%;
      width: 2%;
      background-color: grey;
      display: inline-block;
      position: absolute;
      margin-top: -10%;
      right: 0%;
      z-index: 1000;
      opacity: 0.2;
      filter: alpha(opacity=20); /* For IE8 and earlier */
      text-decoration: none;
    }

  .titulo-pesta {
    display:  inline;
    color: #9d9d9d;
    margin-top: 11px;
    right: 40%;
    position: fixed;
  }
