/*html * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
body { font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.4; padding: 0; margin: 0; text-align: center; background: #bdc3c7; }
*/h1 { display: block; font-size: 12px; font-weight: 200; line-height: 1.8; margin: auto 1px; padding: 5px 5px; background: #2c3e50; color: #fff; width: 98.5%; }
#content { margin: 0 auto;}
.datum { display: inline-block; width: 100%; background: #d35400; color: #fff; margin: auto 1px; padding: -5px; text-align: left; position: relative; }
.datum.expand { width: 100%; }
.datum.expand .value { text-align: center; padding-top: 6px}
.datum .label { display: block; font-size: 16px; text-shadow: 1px 1px rgba(0, 0, 0, .25); padding-right: 5%}
.datum .value { display: block; font-size: 18px; text-align: right; text-shadow: 2px 2px rgba(0, 0, 0, .15); padding-right: 5% }
/** Colors **/
.datum.red { background-color: #c0392b; color: #fff; }
.datum.green { background-color: #27ae60; color: #fff; }
.datum.yellow { background-color: #cdcd00; color: #fff; }
.datum.yellow. span span .unit{ margin-bottom: 50px }
.datum.blue { background-color: #3498db; color: #fff; }
.datum.purple { background-color: #9b59b6; color: #fff; }
.datum.gray { background-color: #9b59b6; color: #fff; }

/** Small devices **/
@media only screen and (max-width: 640px) {
  .datum { width: 98.5%; }
}
/** Medium to large devices **/
@media only screen and (min-width: 641px) and (max-width: 1040px) {
  .datum { width: 100%; }
}
@media only screen and (min-width: 1041px) {
  .datum:not(.expand) { height: 55px; }
  .datum:not(.expand) .value { position: absolute; bottom: 10px; right: 16px; }
}